body
{
  font-family: serif;
}

.grid-container
{
  display: grid;
  grid-template-columns: 2.3fr 0.7fr;
  grid-template-rows: 0.4fr 0.2fr 2.3fr 0.1fr;
  grid-template-areas: "titulo titulo" "links links" "conteudo coringa" "rodape rodape";
}

.titulo
{
  grid-area: titulo;
  background-color: tomato;
  padding-bottom: 50px;
}

.titulo h1
{
  margin: 0;
}

.links
{
  grid-area: links;
  background-color: yellow;
  display: flex;
}

.links ul, .links li
{
  display: inline;
}

.coringa
{
  grid-area: coringa;
  background-color: darkblue;
}

.rodape
{
  grid-area: rodape;
  background-color: darkcyan;
}

.conteudo {
  display: grid;
  grid-template-rows: 0.1fr 1.8fr 0.1fr;
  grid-template-areas: "c_titulo" "c_corpo" "c_rodape";
  grid-area: conteudo;
  margin: 15px;
  padding-bottom: 200px;
}

.c_titulo
{
  grid-area: c_titulo;
  background-color: brown;
  margin: 0;
}

.c_corpo
{
  grid-area: c_corpo;
  background-color: purple;
}

.c_rodape
{
  grid-area: c_rodape;
  background-color: darkslateblue;
}

.a_titulo, .a_data
{
  margin: 0;
}
